@model ISA.Models.TestModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TestModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SomeText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SomeText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SomeOtherTest)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SomeOtherTest)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
